.button1{
position: relative;
left: 50%;
transform: translate(-50%, 0);
}
.body_ch{
    overflow: hidden;
}
.div_body{
    /*position: fixed;*/
    display: grid;
    grid-template-rows: 85% 15%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    /*width: 100vw;*/
    height: 100vh;
    justify-content: space-between;
    grid-template-areas:
            "meat meat meat"
            "knopki_invest knopki_top history"
}
.knopki_invest{
   grid-area: knopki_invest;
    background-color: aqua;
}
.knopki_history{
    background-color: red;

}
.history{
    grid-area: history;
    background-color: aqua;
}
.knopki_top{
   grid-area: knopki_top;
    background-color: #8660a9;
}

.meat{
    overflow: auto;
    grid-area: meat;
    background-color: #6e5334;
}
/*@media all and (max-width: 575px) {*/
/*.row {*/
/*grid-template-areas:*/
/*"header"*/
/*"article"*/
/*"ads"*/
/*"nav";*/
/*grid-template-rows: 80px 1fr 70px 1fr ;*/
/*grid-template-columns: 1fr;*/
/*}*/
/*}*/
.table1{
    table-layout: fixed;
    width: 100%;
    height: 10%;
}
.table2{
    table-layout: auto;}

.first_knopka{
    text-align: center;
}

.width_bottom {
    width: 100%;
    /*margin-bottom: 0;*/
}
.shape1{
    height: 220%;
}
 .big-checkbox {width: 4%; height: 4%;position: center; margin-right: 5%}


 .labelcustom {color: #FFF;}

.custom-control {
  display: inline-block !important;
}



.heading{
    text-align: center;
}

.heading1{
font-weight: 450;
}


.authorizepage{
    padding: 50px;
    background: #ccc;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text_h{
    color: rgba(255,255,255,0.8);
    height: 220%;
    background: #ccc;
}
.df{ color: rgba(210, 20, 20, 0.8);}

.dff{
    text-align: center;
}



.text_small{ font-size: 9pt; margin-top: -5%}

.textik{font-size: 14pt}

.textulic{font-size: 12pt; color: slategrey}
.textulic1{font-size: 14pt; color: slategrey}