{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Economic Game</title>
</head>
<body>
{% if player %}
    <h3 class="lead heading">{{player.Name}}</h3>
{% else %}
    <h3 class="lead heading">не найдено</h3>
{% endif %}
<table class="table">
    <tr>
        <th>Актив A <br> {{ player.Active_a }} ({{ player.percentage_increase_active_a}}%)</th>
        <th>Актив Б <br> {{ player.Active_b }} ({{ player.percentage_increase_active_b }}%)</th>
    </tr>
</table>
<table class="table">
    <tr>
        <td>Пассивный % по образованию:</td>
        <td>{{ player.education }}%</td>
    </tr>
    <tr>
        <td>Текущий год:</td>
        <td>{{ player.Day }}</td>
    </tr>
    <tr>
        <td>Текущее место в топе:</td>
        <td>14</td>
    </tr>
</table>
<h4 class="lead heading">Топ игроков</h4>

<form>
    {% csrf_token %}
    <table class="table">
        <tr>
            <th>Инвестиции</th>
            <th>A</th>
            <th>Б</th>
        </tr>
        {% for active in actives %}
        <tr>

            <td>{{ active.Name }}</td>
            <td>
                <input type="checkbox" name="choiceA[]" />
            </td>
            <td>
                 <input type="checkbox" name="choiceB[]"/>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p>
    <button class="btn btn-dark button1">Подтвердить выбор</button>
    </p>
</form>
<form action="{%  url 'user_page:next_step'%}" method="post">

    {% csrf_token %}

    <button class="btn btn-dark button1">Топ игроков</button>
</form>
<form action="{%  url 'user_page:to_top_players'%}" method="post">

    {% csrf_token %}

    <button class="btn btn-light button1">Личная страничка</button>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
