{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Economic Game</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
</head>
<body  class="body_ch">
<div class="div_body">
<div class="div_body__item meat custom-control">
{% if player %}
    <h2 class="lead heading">История операций</h2>
{% else %}
<h3 class="lead heading">Not found stata</h3>
{% endif %}
<hr>
<canvas id="chart"></canvas>
<script>
    const ctx = document.getElementById('chart').getContext('2d');
    const xlabels = {{years}};

    const datal = {{ player.get_history }};

    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: xlabels,
            datasets: [{
                label: 'Ваш капитал',
                options:{plugins: {label:{display:false}}},
                data: datal,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: 'rgb(0,7,7)',
                borderWidth: 1,
                tension: 0.1
            }]
        },
        options: {
            scales: {
                y: {
                },
            legend: {
                display: false
                }
            }
        }
    });
  {#  window.onload = function () {#}
  {#// We render via Django template#}
  {#      const datal = JSON.parse("{{player|escapejs}}");#}
  {#      var t = document.getElementById("1")#}
  {#      t.innerHTML += datal}#}

</script>
<table class="table">
    <thead class="table1">
    <tr class="textik heading table1">
        <td>Актив</td>
        <td>Вложение</td>
        <td>Доход</td>
    </tr>
    </thead>
    {% if user_choices %}
        {%  for choice_per_year in user_choices %}
            <tr>
                <td></td>
                <td class="table1"><small class="text-muted textik">{{ choice_per_year.Day }}й год</small></td>
                <td></td>
            </tr>
            <tr>
                <td class="textulic1 table1">A</td>
                <td class="textulic table1">{{ choice_per_year.Name1.Name }}</td>
                <td class="textulic1 table1">{{ choice_per_year.ActA_increase }} </td>
            </tr>
            <tr>
                <td class="textulic1 table1">B</td>
                <td class="textulic table1">{{ choice_per_year.Name2.Name }}</td>
                <td class="textulic1 table1">{{ choice_per_year.ActB_increase }}</td>
            </tr>
            <tr>
                <td class="textulic1 table1">C</td>
                <td class="textulic table1">{{ choice_per_year.Name3.Name }}</td>
                <td class="textulic1 table1">{{ choice_per_year.ActC_increase }}</td>
            </tr>
        {% endfor %}
{% else %}
         <tr>
                <td></td>
                <td><h4 class="lead heading">Здесь появится статистика по предыдущим годам</h4></td>
                <td></td>
            </tr>
{% endif %}
</table>
</div>
<div class="div_body__item knopki_invest custom-control">
    <form action="{%  url 'user_page:to_MainWindow' player.Name%}" method="post">
            {% csrf_token %}
            <button class="btn width_bottom "><img class="greyed" src="../../static/hard/invest.svg" alt="" width="40" height="40"/><a class="verysmall mard">Инвестировать</a></button>
    </form>
</div>
<div class="div_body__item knopki_top custom-control">
    <form action="{%  url 'user_page:to_top' player.Name %}" method="post">
        {% csrf_token %}
        <button class="btn width_bottom"><img class="greyed" src="../../static/hard/top.svg" alt="" width="40" height="40"/><a class="verysmall mard2">Топ</a></button>
    </form>
</div>
<div class="div_body__item history custom-control">
    <form action="{%  url 'user_page:to_top_players' player.Name%}" method="post">
        {% csrf_token %}
        <button class="btn width_bottom"><img class="blacked" src="../../static/hard/history.svg" alt="" width="40" height="40"/><a class="verysmall mard1">История</a></button>
    </form>
</div>
</div>
<script>
    $('img.greyed').each(function(){
  var $img = $(this);
  var imgClass = $img.attr('class');
  var imgURL = $img.attr('src');
  $.get(imgURL, function(data) {
    var $svg = $(data).find('svg');
    if(typeof imgClass !== 'undefined') {
      $svg = $svg.attr('class', imgClass+' replaced-svg');
    }
    $svg = $svg.removeAttr('xmlns:a');
    if(!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
      $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
    }
    $img.replaceWith($svg);
  }, 'xml');
});
</script>
<script>
    $('img.blacked').each(function(){
  var $img = $(this);
  var imgClass = $img.attr('class');
  var imgURL = $img.attr('src');
  $.get(imgURL, function(data) {
    var $svg = $(data).find('svg');
    if(typeof imgClass !== 'undefined') {
      $svg = $svg.attr('class', imgClass+' replaced-svg');
    }
    $svg = $svg.removeAttr('xmlns:a');
    if(!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
      $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
    }
    $img.replaceWith($svg);
  }, 'xml');
});
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
